
body {
    font-family: sans-serif;
    background-color: white;
    margin: 10px;
}

h1{
    background-color: darkblue;
    color: white;}
h2,
h4 {
    color: orangered;
}

h1,
h2 {
    font-family: sans-serif;
    margin: 10px;
    /*float: left;*/
}

h3{
    background-color: white;
    color: darkblue;
    margin: 10px;
    float: left;
}

h2 {
    font-size: 1.5em;
}

p{
    color: orangered;
    margin: 10px;
}
dd,
dt {
    color: black;
    margin: 10px;
}

a {
    text-decoration: none;
    color: orangered;
    font-size: .95em;
    margin: 10px;
}

.pane {
    position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: orangered;
    background-color: black;
}

.header {
    left: 50%;
    text-align: center;
}

.name {
    width: 50%;
    /*display: inline-block;*/
    float: left;
}

.description {
    /*width: 50%;*/
    /*display: inline-block;*/
    /*float: left;*/
    color: black;
}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.editdeletepane {
  /*position: absolute;*/
  /*left: 25%;*/
  /*border: 2px solid;*/
  /*border-radius: 25px;*/
  /*padding: 5px;*/
  margin: 5px;
  /*color: orangered;*/
  /*border-color: orangered;*/
  background-color: white;
    /*color: black;*/
}

.addpane{
    /*position: absolute;*/
    /*left: 0%;*/
    /*border: 2px solid;*/
  /*border-radius: 25px;*/
    padding: 5px;
    margin:  10px;
    display: block;
    /*float: left;*/
  /*color: orangered;*/
  /*border-color: orangered;*/
    background-color: midnightblue;
    /*width: 50%;*/
    /*color: black;*/
}

.flash {
    background: #cee5f5;
}

.topcorner{
position:absolute;
top:0;
right:0;
padding: 5px;
margin:  10px;
/*display: block;*/
/*float: left;*/
/*color: orangered;*/
/*border-color: orangered;*/
/*background-color: red;*/
/*position: absolute;*/
/*left: 25%;*/
border: 2px solid;
border-radius: 25px;
/*padding: 5px;*/
/*margin: 5px;*/
border-color: orangered;
background-color: black;
}